<div class="jumbotron jumbotron-fluid border border-2 border-danger">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Info covid</h1>
        <p class="lead text-danger">Sute aux recommendations dans le cadre de la lutte contre la COVID-19, tous les usagers sont priés de respecter les gestes barrières.</p>
    </div>
</div>