<footer class="footer fixed-bottom bg-light">
    <div class="container">
        <p class="text-center m-0 p-0">© Copyright 2020 Simplon Carbège</p>
    </div>
</footer>

<script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
