<meta charset="UTF-8">
<meta name="description" content="Exercice Node/Express">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>Bibliothèque du Futur</title>