<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <h1 class="text-center titre-page mb-5">A propos</h1>
        <p>Située à Saturne-en-Velay, dans le <strong>parc du Musée de la Pantoufle et de la Charentaise</strong>, la médiathèque vous accueille dans un bel espace lumineux de plus de 300 m².</p>
        <p><strong>Niveau 0 :</strong> Accueil, Prêt-retour, romans adultes, revues, salle de lecture (documentaires adultes, dvd, BD), section jeunesse (albums, documentaires, BD, Romans Revues)</p>
        <p><strong>Niveau 1 :</strong> Cd, Section Adolescent (romans, BD, Mangas, documentaires)</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>