<!DOCTYPE html>

<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center titre-page">
            <%- book.name %>
        </h1>
        <img src="<%= book.thumbnail_url %>" class="rounded mx-auto d-block" alt="...">
        <div class="card-body">
            <h3 class="card-title">
                <%= book.name %>
            </h3>
            <p class="card-text text-justify">
                <%= book.info %>...</p>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>