<!DOCTYPE html>

<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5 mx-auto" style="width: 90%;">
        <!-- Completer la page Index -->
        <h1 class="text-center titre-page">Accueil</h1>
        <h2 class="text-center">Bienvenue sur le site de la Bibliothèque du Futur</h2>

        <div class="card-deck d-lg-flex my-5">
            <div class="card border-success m-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-success">Horaires</h5>
                    <ul>
                        <li class="card-text"><strong>Lundi : </strong> 9h30 - 19h</li>
                        <li class="card-text"><strong>Mardi : </strong> 9h30 - 19h</li>
                        <li class="card-text"><strong>Mercredi : </strong> 8h30 - 19h</li>
                        <li class="card-text"><strong>Jeudi : </strong> 9h30 - 19h</li>
                        <li class="card-text"><strong>Vendredi : </strong> 9h30 - 19h</li>
                        <li class="card-text"><strong>Samedi : </strong> 10h-12h30 / 14h - 18h</li>
                        <li class="card-text"><strong>Dimanche : </strong> Fermé </li>
                    </ul>
                </div>
            </div>
            <div class="card border-success m-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-success">Abonnements *</h5>
                    <ul>
                        <li class="card-text"><strong>Seniors : </strong> 10€ / mois</li>
                        <li class="card-text"><strong>Étudiants : </strong> 8€ / mois </li>
                        <li class="card-text"><strong>Minimas sociaux : </strong> 5€ / mois</li>
                        <li class="card-text"><strong>Classes : </strong> 30€ / école</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">* : sur présentation d'un justificatif en cours de validité</small>
                </div>
            </div>
            <div class="card border-success m-3" style="max-width: 36rem;">
                <div class="card-body">
                    <h5 class="card-title text-success">Adresse</h5>
                    <p class="card-text"> 43 rue du petit lait - 65300 <strong>Saturne-en-Velay</strong></p>
                    <p class="card-text"><strong>Coordonnées GPS :</strong> 45678900°2</p>
                    <p class="card-text"><strong>Parking</strong> du Musée à 100 m</p>
                    <p class="card-text"><strong>Bus :</strong> arrêt <strong>Gratiné</strong> ou <strong>Flamingo</strong></p>
                    <p class="card-text"><strong>Métro :</strong> station <strong>Dodo</strong> de la ligne <strong>G</strong></p>
                </div>
            </div>
        </div>
        <div id="covid">

            <%- include( '../partials/covid.ejs'); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>